@import 'tailwindcss';

/* Inter */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* Montserrat */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

.font-inter {
  font-family: 'Inter', sans-serif;
}

.font-montserrat {
  font-family: 'Montserrat', sans-serif;
}

.bg-glass {
  background-color: rgb(255 255 255 / 13%);
  backdrop-filter: blur(25.2px);
  border-radius: 20px;
  border: 1px solid rgb(255 255 255 / 1%);
}

.bg-glass1{
  background-color: rgb(255 255 255 / 6%);
  backdrop-filter: blur(25.2px);
  border-radius: 20px;
  border: 1px solid rgb(255 255 255 / 14%);
}

@theme {
  --color-blue-custom: #248ae3;
  --color-gray-custom: #474747;
}

body {
  background-color: #0f161c;
  color: #fff;
}
